<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HomeWorkJDI_1" thread-count="1">
    <test name="Test pages">
        <classes>
            <class name="com.epam.tests.TestLogin">
                <methods>
                    <include name="checkLoginPage" />
                    <include name="checkHomePage"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Test registration">
        <classes>
            <class name="com.epam.tests.TestLogin">
                <methods>
                    <include name="testPosClick" />
                    <include name="testPosEnter"/>
                    <include name="testNegCsv" />
                    <include name="testIncompleteData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
